// 320px
@media (max-width: 768px){

    // Menu
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: $menu-mobile-background-color;
        color: $text-color-inverse;
        // height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        li{
            padding: 0;
            a{
                color: $text-color-inverse;
                line-height: 70px;
                font-size: 25px;
            }
        }

    }

    .open-menu, .close-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu{
        align-self: flex-end;
        padding: 20px 25px;
    }
    .open-menu{
        padding: 0 15px;
    }
    .menu_opened{
        opacity: 1;
        pointer-events: all;
    }


    .menu a::after{
        content: none;
    }
    .menu a:hover,
    .menu a.selected{
        color: $secondary-color;
    }
    
    .menu a:hover{
        color: $secondary-color;
    }
}

@media (min-width: 950px) {

    // PROFILE //
    .profile{
        text-align: left;
        align-items: center;
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: 0 auto;
        .profile-info{
            margin-bottom: 0px;
            .profile-title{
                font-size: 60px;
            }
            .profile-details{
                font-size: 25px;
                margin: 30px 0;
            }
            .profile-btn{
                font-size: 30px;
                padding: 0.5em 1em;
            }
        }
        .profile-img-section{
            position: relative;
            display: inline;
            .profile-img{
                width: 100%;
                max-width: 350px;
                transform: scaleX(-1);
            }
        }
    }

    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    // SKILLS //
    .skills{
        max-width: 980px;
        margin: 0 auto;
        .skills-title{
            font-size: 50px;
        }
        .skill-list{
            .skills-skill{
                font-size: 30px;
                margin: 20px;
            }
        }
    }

    // EXPERIENCES //
    .experiences{
        .experiences-body{
            .experiences-title{
                font-size: 50px;
                margin: 35px 0;
            }
            .experiences-grid{
                display: grid;
                grid-template-columns: auto 2px auto;
                gap: 20px 70px;
                padding: 70px;
                justify-content: center;
                max-width: 980px;
                margin: 0 auto;
                .experience{
                    padding: 0;
                    .experience-date{
                        font-size: 40px;
                    }
                    .experience-company{
                        font-size: 25px;
                    }
                    .experience-position{
                        font-weight: bold;
                        font-size: 20px;
                        margin-top: 20px;
                    }
                    .experience-description{
                        font-size: 20px;
                        margin-top: 10px;
                        line-height: 1.3;
                    }
                }
                .experience-left{
                    text-align: right;
                }
            }
        }
    }

    .line{
        background-color: $text-color-inverse;
        position: relative;
        }
    .line::before,
    .line::after{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: $text-color-inverse;
        border-radius: 50%;

        position: absolute;
        top: -20px;
        left: -9px;
    }
    .line::after{
        top: 100%;
        z-index: 1;
    }

}