.profile{
    text-align: center;
    .profile-info{
        margin-bottom: 25px;
        .profile-title{
            font-size: 35px;
            font-weight: bold;
            margin: 0;
            color: $primary-color;
            font-family: 'Merriweather Sans', sans-serif;
        }
        .profile-details{
            font-size: 18px;
            font-weight: 500;
            line-height: 1.3;
            max-width: 450px;
            margin: 20px auto;
        }
        .profile-btn{
            background-color: $primary-color;
            color: $text-color-inverse;
            border: none;
            font-size: 20px;
            padding: 0.5em 1em;
            border-radius: 8px;
            cursor: pointer;
            &:hover{
                filter: brightness(150%);
            }
        }
    }
    .profile-img-section{
        position: relative;
        display: inline;
        .profile-img{
            width: 80%;
            max-width: 300px;
        }
        .profile-img-line{
            background-color: $secondary-color;
            height: 15px;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
    }

}