$theme-color: white;
$primary-color: rgb(170, 0, 0);
$secondary-color: brown;
$text-color-inverse: white;
$text-color: black;
$navbar-shallow-color: rgb(202, 202, 202);
$menu-mobile-background-color: rgb(80, 80, 80);