@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Merriweather+Sans&family=Open+Sans&family=Ubuntu&display=swap");
.topheader {
  box-shadow: 0 4px 5px rgb(202, 202, 202);
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 18px;
  font-weight: 500;
  color: rgb(28, 58, 156);
}
.logo img, .logo div {
  padding: 0 10px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 0 15px;
}
.menu li a {
  position: relative;
  color: black;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;
}
.menu li ahover {
  color: rgb(28, 58, 156);
}

.open-menu, .close-menu {
  display: none;
}

.menu a::after {
  content: "";
  background-color: rgb(219, 160, 32);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
}

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.menu a:hover {
  color: rgb(28, 58, 156);
}

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: white;
  text-decoration-color: black;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: black;
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

.profile {
  text-align: center;
}
.profile .profile-info {
  margin-bottom: 25px;
}
.profile .profile-info .profile-title {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  color: rgb(28, 58, 156);
  font-family: "Merriweather Sans", sans-serif;
}
.profile .profile-info .profile-details {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  max-width: 450px;
  margin: 20px auto;
}
.profile .profile-info .profile-btn {
  background-color: rgb(28, 58, 156);
  color: white;
  border: none;
  font-size: 20px;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
}
.profile .profile-info .profile-btn:hover {
  filter: brightness(150%);
}
.profile .profile-img-section {
  position: relative;
  display: inline;
}
.profile .profile-img-section .profile-img {
  width: 80%;
  max-width: 300px;
}
.profile .profile-img-section .profile-img-line {
  background-color: rgb(219, 160, 32);
  height: 15px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.skills .skills-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.skills .skill-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills .skill-list .skills-skill {
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
}

.experiences {
  display: flex;
  flex-direction: column;
}
.experiences .wave {
  width: 100%;
  position: relative;
  top: 2px;
}
.experiences .wave-bottom {
  transform: scaleY(-1);
  top: -2px;
}
.experiences .experiences-body {
  background-color: #273036;
  color: white;
}
.experiences .experiences-body .experiences-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px 0;
}
.experiences .experiences-body .experiences-grid .experience {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}
.experiences .experiences-body .experiences-grid .experience .experience-date {
  font-size: 25px;
  font-weight: bold;
  color: rgb(219, 160, 32);
}
.experiences .experiences-body .experiences-grid .experience .experience-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}
.experiences .experiences-body .experiences-grid .experience .experience-position {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
.experiences .experiences-body .experiences-grid .experience .experience-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #273036;
    color: white;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu li {
    padding: 0;
  }
  .menu li a {
    color: white;
    line-height: 70px;
    font-size: 25px;
  }
  .open-menu, .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-menu {
    align-self: flex-end;
    padding: 20px 25px;
  }
  .open-menu {
    padding: 0 15px;
  }
  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
  .menu a::after {
    content: none;
  }
  .menu a:hover,
  .menu a.selected {
    color: rgb(219, 160, 32);
  }
  .menu a:hover {
    color: rgb(219, 160, 32);
  }
}
@media (min-width: 950px) {
  .profile {
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
  }
  .profile .profile-info {
    margin-bottom: 0px;
  }
  .profile .profile-info .profile-title {
    font-size: 60px;
  }
  .profile .profile-info .profile-details {
    font-size: 25px;
    margin: 30px 0;
  }
  .profile .profile-info .profile-btn {
    font-size: 30px;
    padding: 0.5em 1em;
  }
  .profile .profile-img-section {
    position: relative;
    display: inline;
  }
  .profile .profile-img-section .profile-img {
    width: 100%;
    max-width: 350px;
    transform: scaleX(-1);
  }
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .skills {
    max-width: 980px;
    margin: 0 auto;
  }
  .skills .skills-title {
    font-size: 50px;
  }
  .skills .skill-list .skills-skill {
    font-size: 30px;
    margin: 20px;
  }
  .experiences .experiences-body .experiences-title {
    font-size: 50px;
    margin: 35px 0;
  }
  .experiences .experiences-body .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }
  .experiences .experiences-body .experiences-grid .experience {
    padding: 0;
  }
  .experiences .experiences-body .experiences-grid .experience .experience-date {
    font-size: 40px;
  }
  .experiences .experiences-body .experiences-grid .experience .experience-company {
    font-size: 25px;
  }
  .experiences .experiences-body .experiences-grid .experience .experience-position {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
  .experiences .experiences-body .experiences-grid .experience .experience-description {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.3;
  }
  .experiences .experiences-body .experiences-grid .experience-left {
    text-align: right;
  }
  .line {
    background-color: white;
    position: relative;
  }
  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -9px;
  }
  .line::after {
    top: 100%;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */